html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

.welcome-page {
    height: 100vh;
    background-color: #ffffff;
}

.welcome-page-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}

.welcome-page-tittle {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 40px;
    margin-top: -50px;
}

.my-button {
    background-color: black;
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    width: 200px;
    height: 30px;
    padding: 0;
}

.my-button a {
    text-decoration: none;
    color: #ffffff;
}

.my-button:hover {
    color: #ffffff;
}

.nav-container {
    width: 100%;
    position: fixed;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.navbar-brand {
    display: flex;
    flex-direction: row;
    justify-content: start;
    height: auto;
    width: 60%;
}

.navbar-brand img {
    height: 40px;
    width: 50px;
    border-radius: 20%;
    align-self: center;
}

.navbar-brand p {
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: 700;
    align-self: center;
    margin-top: 15px;
    margin-left: 10px;
}

.navbar-buttons-container {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
}

.navbar-button {
    background-color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    height: 30px;
    width: 80px;
}

.navbar-button a {
    color: black;
    text-decoration: none;
}

.navbar-button a:hover {
    text-decoration: none;
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home-tittle-container {
    height: 400px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
}

.home-tittle {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
}

.home-description {
    font-size: 16px;
    font-weight: 500;
    opacity: 0.9;
}

.home-button {
    height: 30px;
    width: 140px;
    margin-top: 30px;
    background-color: black;
    color: #ffffff;
    border-radius: 5px;
    border: none;
}

.about-resume-container {
    background-color: black;
    height: 100vh;
    padding: 50px;
    padding-top: 100px;
    display: flex;
}

.about-resume-container-left {
    height: 100%;
    width: 50%;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.about-resume-container-left-heading {
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.about-resume-container-left-defination {
    color: #ffffffdb;
}

.about-resume-container-left-defination span {
    font-weight: bold;
    color: #ffffff;
}

.about-resume-container-right {
    height: 100%;
    width: 50%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-resume-container-right img {
    height: 500px;
    width: 650px;
    background: none;
}

.do-and-dont-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    flex-wrap: wrap;
    padding: 30px;
    padding-top: 80px;
    background-color: #ffffff;
}

.do-container {
    width: 50%;
    padding: 20px;
}

.do-container h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: bold;
}

.dont-container {
    width: 50%;
    padding: 20px;
}

.dont-container h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: bold;
}

.signup-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.signup-card {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    border-radius: 10px;
    width: 50%;
    height: 500px;
}

.signup-card-poster {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 30px 20px;
    border: 2px solid #ffffff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right-color: transparent;
}

.signup-card-poster-image {
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

.signup-card-poster-description {
    text-align: center;
    margin-top: 20px;
}

.signup-card-poster-description p {
    color: #ffffffd7;
}

.sign-card-from {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    border: 2px solid rgb(0, 0, 0);
    width: 50%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sign-card-from input {
    height: 35px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #000000;
    padding-left: 5px;
    margin-bottom: 10px;
}

.signup-card-from-tittle {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline;
}

.signup-card-from-name-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 100%;
}

.signup-card-from-gender-container div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.signup-card-from-gender-container input {
    width: 15px;
    margin-top: -5px;
    cursor: pointer;
}

.signup-card-from-gender-container label {
    font-weight: 700;
}

.sign-card-from span {
    font-weight: bold;
}

.password-container {
    position: relative;
    width: 100%;
}

.icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
    color: #333;
    margin-top: 3px;
}

.sign-card-from .note {
    font-size: 14px;
}

.signup-card-button {
    background-color: black;
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    width: 40%;
    height: 30px;
    padding: 0;
}

.signup-card-button a {
    text-decoration: none;
    color: #ffffff;
}

.signup-card-button:hover {
    color: black;
    background-color: #ffffff;
    border: 2px solid #000000;
}

.blinking-cursor::after {
    content: "|";
    display: inline-block;
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.login-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-card {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    border-radius: 10px;
    width: 50%;
    height: 500px;
}

.login-card-poster {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 30px 20px;
    border: 2px solid #ffffff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left-color: transparent;
}

.login-card-poster-image {
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

.login-card-poster-description {
    text-align: center;
    margin-top: 20px;
}

.login-card-poster-description p {
    color: #ffffffd7;
}

.login-card-from {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    border: 2px solid rgb(0, 0, 0);
    width: 50%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;

}

.login-card-from input {
    height: 35px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #000000;
    padding-left: 5px;
}

.login-card-from-tittle {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline;
}

.login-card-from-name-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.login-card-from-name-container input {
    border-radius: 5px;
    border: 2px solid #000000;
    height: 35px;
    width: 48%;
    padding-left: 5px;
}

.login-card-from-remember-container {
    display: flex;
    justify-content: start;
}

.login-card-from-remember-container input {
    width: 15px;
    margin-top: -8px;
    margin-right: 10px;
    cursor: pointer;
}

.login-card-from-remember-container p {
    font-weight: 700;
    margin-top: -5px;
}

.login-card-from span {
    font-weight: bold;
}

.password-container {
    position: relative;
    width: 100%;

}

.icon {
    position: absolute;
    right: 10px;
    top: 30%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
    color: #333;
}

.login-card-from .note {
    font-size: 14px;
}

.login-card-button {
    background-color: black;
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    width: 40%;
    height: 30px;
    padding: 0;
}

.login-card-button a {
    text-decoration: none;
    color: #ffffff;
}

.login-card-button:hover {
    color: black;
    background-color: #ffffff;
    border: 2px solid #000000;
}

.dashboard {
    display: flex;
    justify-content: flex-start;
    height: 100vh;
    flex-wrap: wrap;
}

.dashboard-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: transparent;
    width: 260px;
    height: 100vh;
    padding: 20px;

}

.dashboard-menu-tittle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 60px;
}

.dashboard-menu-tittle-image {
    height: 30px;
    width: 40px;
    border-radius: 5px;
}

.dashboard-menu-tittle-name {
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 700;
}

.dashboard-menu-userdetails {
    height: 40px;
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    animation: moveRight 1s ease forwards;
}

.dashboard-menu-userdetails i {
    color: #ffffff;
    font-size: 20px;
}

.dashboard-menu-userdetails-name {
    color: #ffffff;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 20px;

}

.dashboard-menu-items {
    margin-top: 20px;

}

.dashboard-menu-items p {
    color: white;
    font-size: 16px;
    animation: moveRight 1s ease forwards;
}

.dashboard-menu-items-item-dropdown {
    position: relative;
    width: 220px;
    padding: 10px 8px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    animation: moveDown 1.5s ease forwards;
    animation-delay: 1s;
    opacity: 0;
}

.dashboard-menu-items-item-dropdown-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 15px;
}

.dashboard-menu-items-item-dropdown-menu {
    display: none;
    padding-top: 5px;
    overflow: hidden;
}

.dashboard-menu-items-item-dropdown-menu a {
    display: block;
    padding: 10px;
    color: rgb(205, 199, 199);
    text-decoration: none;
    font-size: 12px;
    transition: background 0.3s;
}

.dashboard-menu-items-item-dropdown-menu a:hover {
    background-color: #2a3155;
}

.dashboard-menu-items-item-dropdown.active .dashboard-menu-items-item-dropdown-menu {
    display: block;
    animation: slideDown 0.5s ease forwards;
}

.dashboard-menu-items-item-dropdown.active .fa-angle-right {
    transform: rotate(90deg);
}

.dashboard-menu-bottom {
    margin-top: auto;
    width: 100%;
}

.dashboard-menu-bottom div {
    height: auto;
    padding: 10px 0;
    animation: moveRight 1s ease forwards;
}

.dashboard-menu-bottom i {
    color: #ccc;
    font-size: 18px;
}

.dashboard-menu-bottom i:hover {
    color: #ffffff;
}

.dashboard-menu-bottom a {
    color: #ccc;
    font-size: 14px;
    margin-left: 10px;
    font-weight: 500;
}

.dashboard-menu-bottom a:hover {
    color: #ffffff;
    text-decoration: none;
}



@keyframes moveRight {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes moveDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes slideDown {
    0% {
        max-height: 0;
        opacity: 0;
    }

    100% {
        max-height: auto;
        opacity: 1;
    }
}

.dashboard-content {
    overflow-y: scroll;
    height: 100vh;
    flex-grow: 1;
}

.dashboard-container {
    flex-grow: 1;
    background-color: #ffffff;
    border-top-left-radius: 30px;
    padding: 20px;
    height: 100%;
}

.create-resume-container {
    padding: 20px;
    border-radius: 20px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.create-resume-container-tittle {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: 900;
}

.create-resume-container-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.create-resume-container-options-tittle {
    font-family: 'Cambria, Cochin, Georgia, Times, ' Times New Roman', serif';
    font-size: 24px;
    font-weight: 700;
}

.option-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.generate-resume-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 400px;
    width: 50%;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 10px 8px 20px #3f3e3ec3;
}

.generate-resume-container-image {
    width: 250px;
    height: 200px;
}

.generate-resume-container-tittle {
    font-family: 'Cambria, Cochin, Georgia, Times, ' Times New Roman', serif';
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
}

.generate-resume-container-description {
    color: #c4bfbf;
    font-size: 16px;
}

.generate-resume-container-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: black;
    height: 40px;
    width: 140px;
    border-radius: 50px;
    font-weight: bold;
    border: none;
}

.generate-resume-container-button:hover {
    background-color: black;
    color: white;
    border: 2px solid #ffffff;
    text-decoration: none;
}

.dropZone {
    width: 80%;
    height: 100px;
    border: 2px dashed #ffffff;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 20px;
    color: #ffffffc8;
}

.custom-file-upload {
    text-align: center;
    padding-top: 8px;
    background-color: black;
    color: white;
    height: 40px;
    width: 140px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid #ffffff;
    transition: background 0.3s;
    margin-top: 45px;
}

.custom-file-upload:hover {
    background-color: #ffffff;
    color: #000000;
}

.generate-loader {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

#sectionLoader1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

#sectionLoader2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.loader {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 500px;
    width: 100%;
    /* background-color: aqua; */
}

.loader-tittle {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

.loader-content {
    text-align: left;
    width: 300px;
    padding-left: 50px;
}

#blink {
    display: inline-block;
    padding-top: 15px;
    height: 3ch;
    width: 3ch;
    font-family: monospace;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
}

.loader-description {
    display: flex;
    /* animation: moveDown 1.5s ease forwards;
    animation-delay: 1s; */
}

.loader-tick {
    height: 50px;
    width: 50px;
    margin-right: -20px;
}

.checked {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 50%;
}

.tick {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    border: 3px solid #000000;
    border-radius: 50%;
}

.loader-description-line {
    font-size: 18px;
    font-weight: 600;
}

.get-started-btn {
    margin-top: 20px;
    background-color: #000000;
    color: #ffffff;
    font-weight: 600;
    padding: 5px 20px;
    border-radius: 30px;
    border: 2px solid #000000;
}

.get-started-btn:hover {
    background-color: #ffffff;
    color: #000000;
    border: 3px solid #000000;
    font-weight: 800;
}

.user-details-content {
    border-radius: 20px;
    box-shadow: 10px 8px 20px #3f3e3ec3;
}

.user-details-container {
    height: 600px;
    width: 800px;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.user-details-container::-webkit-scrollbar {
    margin-left: -40px;
    width: 10px;
    background-color: rgba(255, 255, 255, 0);
}

.user-details-container::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    border: 2px solid black;
}

.user-details-container::-webkit-scrollbar-thumb:hover {
    background-color: #000000;
    cursor: grabbing;
}

.user-details-container::-webkit-scrollbar-track {
    background-color: rgba(208, 206, 206, 0);
    border-radius: 20px;
}


.details-form {
    display: flex;
    flex-direction: column;
}

.details-form label {
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    margin-top: 10px;
}

.details-form input {
    padding: 10px 5px;
    border-radius: 5px;
    border: 2px solid #000000;
    color: #000000;
    font-weight: 600;
}

.details-form input::placeholder {
    color: #5b5b5b;
}

.details-form select {
    border-radius: 5px;
    border: 2px solid #000000;
    color: #5b5b5b;
    font-weight: 600;
}

.details-form textarea {
    padding: 10px 5px;
    border-radius: 5px;
    border: 2px solid #000000;
    color: #000000;
    font-weight: 600;
    margin-bottom: 10px;
}

.button-contianer {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.form-button {
    margin-top: 20px;
    background-color: #000000;
    color: #ffffff;
    font-weight: 600;
    padding: 5px 20px;
    border-radius: 30px;
    border: 3px solid #000000;
}

.form-button:hover {
    background-color: #ffffff;
    color: #000000;
    border: 3px solid #000000;
    font-weight: 800;
}

.dropdown-container {
    position: relative;
    width: 100%;
}

.dropdown-header {
    width: 100%;
    font-size: 14px;
    cursor: pointer;
    text-align: left;
    background-color: #fff;
    min-height: 30px;
    display: flex;
    align-items: center;
    padding: 10px 5px;
    border-radius: 5px;
    border: 2px solid #000000;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #000000;
    background: white;
    z-index: 1000;
}

.dropdown-content label {
    display: block;
    padding: 5px;
    cursor: pointer;
}

.dropdown-content input[type="checkbox"] {
    margin-right: 5px;
}

.search-box {
    width: 100%;
    padding: 2px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
}

.selected-options {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    min-height: 20px;
    color: #5b5b5b;
    font-weight: 600;
}

.selected-options span {
    background-color: #000000;
    color: white;
    padding: 3px 8px;
    border-radius: 10px;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
}

.selected-options span .remove {
    margin-left: 5px;
    cursor: pointer;
    font-weight: bold;
}

.carousel-inner {
    text-align: center;
}

.carousel-item iframe {
    width: 80%;
    height: 500px;
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.section-templets {
    height: 100vh;
    width: 100%;
}

.resume-content {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.slide-button-container {
    height: 100vh;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-button-container button {
    background-color: transparent;
    height: 80px;
    width: 80px;
    color: #ffffff;
    border: none;
}

.slide-button-container button:focus{
    outline: none;
}

.slide-button-container button i {
    font-size: 60px;
}

.resume-templates-container {
    width: 870px;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #3f3e3eb8;
}

.resume-templates-container-top{
    height: 45px;
    width: 100%;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resume-slider {
    width: 800px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: transparent;
    overflow-y: scroll;
    overflow-x: hidden;
}

.resume-slider::-webkit-scrollbar {
    margin-left: -40px;
    width: 10px;
    background-color: rgba(255, 255, 255, 0);
}

.resume-slider::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 2px solid rgb(0, 0, 0);
}

.resume-slider::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff;
    cursor: grabbing;
}

.resume-slider::-webkit-scrollbar-track {
    background-color: rgba(208, 206, 206, 0);
    border-radius: 20px;
}

.resume-container {
    width: 794px;
    min-height: 1000px;
    height: auto;
    padding: 30px 40px;
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.resume-header h1 {
    font-size: 30px;
    font-weight: bold;
}

.resume-header p {
    font-size: 12px;
}

.resume-section {
    width: 100%;
}

.resume-section h5 {
    font-size: 16px;
    margin-top: -15px;
}

.resume-section p {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #000000;
    margin-top: -3px;
}

.education-container {
    height: 150px;
    margin-bottom: 14px;
    margin-top: -5px;
}

.education-detail-container {
    height: 50px;
}

.education-detail {
    height: 25px;
    display: flex;
    justify-content: space-between;
}

.top-container {
    font-weight: bold;
}

.resume-section-bigdata {
    height: auto;
    width: 100%;
    margin-bottom: -10px;
    margin-top: -5px;
}

.resume-section-bigdata-title-card {
    height: 50px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: -30px;
}

.resume-section li {
    font-size: 14px;
}

.resume-section ul {
    margin-top: -8px;
    margin-left: -15px;
}

.spl-head {
    padding-top: 13px;
}

.skills-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    padding: 3px 0px;
    margin-bottom: -10px;
}

.search-wrapper {
    position: relative;
    width: 300px;
}

#jobrole {
    width: 100%;
    padding: 8px 35px 8px 10px;
    /* right padding for icon */
    box-sizing: border-box;
}

.search-wrapper i.fa-magnifying-glass {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    cursor: pointer;
    /* so icon doesn't block clicks */
}

#jobroleDropdown {
    position: absolute;
    top: 38px;
    width: 100%;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    background: rgb(255, 255, 255);
    color: #000000;
    font-weight: 600;
    display: none;
    z-index: 1000;
}

#jobroleDropdown div {
    padding: 8px;
    cursor: pointer;
}

.custom-select {
    position: relative;
    width: 250px;
    user-select: none;
}

.select-selected {
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
}

.select-items {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    display: none;
    z-index: 1000;
}

.select-items div {
    padding: 5px;
    cursor: pointer;
}

.select-items div:hover {
    background-color: #007BFF;
    color: white;
}

.my-modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000000;
}

.my-modal-content {
    height: 200px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    color: #000000;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.my-modal-content-head{
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
}

.my-modal-content p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 600;
}

.my-modal-message-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.my-modal-filename {
    background-color: #00000048;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    z-index: 9999;
}

.my-modal-content-filename {
    width: 600px;
    max-width: 90%; /* Makes it responsive */
    height: 250px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.my-modal-content-filename-head{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 30px;
}

.my-modal-content-filename label{
    font-family: 'Courier New', Courier, monospace;
    color: #000000;
    font-weight: 600;
    font-size: 16px;
}

.my-modal-content-filename input{
    height: 35px;
    border-radius: 5px;
    border: 3px solid #6e6e6e;
    padding-left: 10px;
}

.my-modal-content-filename input:focus{
    border: 3px solid #000000;
    outline: none;
}

.my-modal-content-filename-button-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 0px;
}

.my-modal-content-filename-button-container.btn:focus{
    outline: none;
    border: 1px solid #00000000;
}

.close {
    position: absolute;
    top: 12px;
    right: 18px;
    font-size: 30px;
    cursor: pointer;
    color: #000000;
}
.close:focus{
    outline: none;
}

.spinner {
    margin: 10px auto;
    border: 4px solid #000000;
    border-top: 4px solid #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#filenameModal {
    background-color: #605e5e66;
    height: 100%;
    width: 100%;
}

.modal-dialog {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-container {
    display: none;
}

@media (max-width: 768px) {
    .login-container {
        margin-top: -50px;
        padding: 30px;
    }

    .login-card {
        width: 100%;
    }

    .login-card-from {
        width: 100%;
        padding: auto;
    }

    .login-card-poster {
        display: none;
    }
     .signup-container {
        padding: 30px;
        margin-top: -50px;
    }

    .signup-card {
        width: 100%;
    }

    .sign-card-from {
        width: 100%;
    }

    .signup-card-poster {
        display: none;
    }

    .signup-card-from-name-container {
        flex-direction: column;
        justify-content: space-around;
    }

    .signup-card-from-name-container input {
        width: 100%;
        margin-bottom: -30px;
    }

    .note {
        display: none;
    }

    .signup-card-from-name-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: auto;
        width: 100%;
    }

    .mobile-container {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100svh;
        width: 100svw;
        padding: 30px;
        background-color: #ffffff;
        color: #000000;
        font-size: 18px;
        font-weight: 700;
    }

    .dashboard {
        display: none;
    }
    
    .my-modal {
        height: 100svh;
        width: 100svw;
        padding: 20px;
        padding-top: 220px;
    }

    .my-modal-content {
        height: 180px;
        width: 100%;
    }

    .my-modal-content p {
        font-family: 'Courier New', Courier, monospace;
        font-size: 20px;
        font-weight: 800;
    }

    .my-modal-message-content {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}